:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #FFF1CE;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  color: #000;
  font-weight: 600;
  font-size: 30px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  z-index: 2;
}

.app-header {
  position: relative;
  display: flex;
  height: 64px;
  padding: 0;
  background: #FFF1CE;
}

.inner-content {
  overflow: auto;
  overflow-x: hidden;
}

[nz-button] {
  border-radius: 10px !important;
}

