.login-form-button {
  width: 100%;
}

#buttonParent {
  height: 100%;
  width: 100%;
}

#buttonDiv {
  position: relative;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

#titleDiv {
  position: relative;
  font-size: 50px;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
