.login-form-button {
  width: 100%;
}

#buttonDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

#titleDiv {
  position: absolute;
  font-size: 50px;
  top: 25%;
  //bottom: 5;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
